// Core
@import "../../node_modules/normalize.css/normalize.css"
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "core/variables.styl"
@import "core/mixins.styl"
@import "core/fonts.styl"

// Globals
@import "common/global.styl"

// Commons modules
@import "common/base.styl"
@import "common/common.styl"

// Modules
@import "blocks/header.styl"
@import "blocks/footer.styl"

// Blocks
@import "blocks/slider.styl"
@import "blocks/figure.styl"
@import "blocks/diary.styl"
@import "blocks/functions.styl"

// Elements
@import "elements/buttons.styl"
