section.diary.jsMenuItem#about
  .diary--circle.diary--circle-1
  .diary--circle.diary--circle-2
  .section-request
    img(src="dist/img/content/phone.png", alt="Дневник здоровья").section-request--image
    .section-request--article
      h2.h2.section-request--heading
        | Что такое «Дневник здоровья»?
      p.section-request--description
        | Дневник пациента — это удобный онлайн-сервис:
      ul.ul.ul__markers.section-request--listing
        li 
          span.section-request--listing--item Вносите результаты измерений вручную или с помощью интегрированных приборов
        li 
          span.section-request--listing--item Ведите персональную медицинскую карту с историей ваших измерений 
        li 
          span.section-request--listing--item Делитесь результатами измерений со специалистами для повышения эффективности лечения
        li 
          span.section-request--listing--item Получайте рекомендации, созданные специально для вас
      a.section--button.btn.btn__pink.btn__nomargin.jsRequest(href='javascript:void(0)', tabindex='0') Оставить заявку
  .diary-pulse
    i
      | 55
    i
      | 68
    i
      | 72
    .diary-pulse--circle
      .diary-pulse--img