@font-face {
    font-family: 'CeraRoundPro';
    src: 
        local('../fonts/CeraRoundPro/CeraRoundPro-Regular'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-Regular.woff') format('woff'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-Regular.otf') format('otf'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-Regular.eot') format('eot'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CeraRoundProBold';
    src: 
        local('../fonts/CeraRoundPro/CeraRoundPro-bold'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-bold.woff') format('woff'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-bold.otf') format('otf'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-bold.eot') format('eot'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'CeraRoundProMedium';
    src: 
        local('../fonts/CeraRoundPro/CeraRoundPro-medium'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-medium.woff') format('woff'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-medium.otf') format('otf'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-medium.eot') format('eot'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CeraRoundProLight';
    src: 
        local('../fonts/CeraRoundPro/CeraRoundPro-light'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-light.woff') format('woff'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-light.otf') format('otf'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-light.eot') format('eot'), 
        url('../fonts/CeraRoundPro/CeraRoundPro-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: 
        local('../fonts/Geometria/Geometria-medium'), 
        url('../fonts/Geometria/Geometria-medium.woff') format('woff'), 
        url('../fonts/Geometria/Geometria-medium.otf') format('otf'), 
        url('../fonts/Geometria/Geometria-medium.eot') format('eot'), 
        url('../fonts/Geometria/Geometria-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}