// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$mainFont = 'CeraRoundPro', $reserveFonts;
$mainFontBold = 'CeraRoundProBold', $reserveFonts;
$mainFontMedium = 'CeraRoundProMedium', $reserveFonts;
$mainFontLight = 'CeraRoundProLight', $reserveFonts;
$btnFont = 'Geometria', $reserveFonts;

// Sizes
$widthContent = 1200px;
$heightHeader = 92px;
$heightFooter = 220px;
$gridHeight = "calc( 100vh - %s - %s )" % ($heightHeader $heightFooter)

// Colors
$blue = #5489c3
$blueText = #60759d
$blueList = #16afe0
$footer = #39649d
$pink = #e70067
$pinkHover = #c9005a
$pinkShadow = rgba(231, 0, 103, 0.36)

// Animation
$fast = .3s ease-in-out all
$middle = .5s ease-in-out all